name: "Update Tap"

on:
  workflow_dispatch: {}
  push:
    branches:
      - "actions/**"
  schedule:
    # 0808 every day
    - cron: "8 8 * * *"

permissions:
  contents: "write"
  pull-requests: "write"

jobs:
  bump-packages:
    runs-on: "macos-latest"
    steps:
      # macOS comes with Homebrew installed

      - name: "Tap caius/tap"
        run: "brew tap caius/tap"
        shell: "bash"

      # Doesn't work for a tap, annoyingly
      # - name: "Bump casks/formulae"
      #   uses: "Homebrew/actions/bump-packages@main"
      #   with:
      #     token: "${{ secrets.GITHUB_TOKEN }}"
      #     fork: false

      - name: "Bump casks/formulae"
        run: |
          brew bump --no-fork --open-pr --tap caius/tap
        shell: "bash"
        env:
          HOMEBREW_DEVELOPER: "1"
          HOMEBREW_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
